body {
  font-family: sans-serif;
  background-image: linear-gradient(to right top, #c39a50, #bc954e, #b58f4b, #ae8a49, #a78547);
}

.logo{
  height: 70px;
  width: 70px;
}

#warning {
  background-color: rgba(184, 129, 129, 0.822);
  box-shadow: 5px 2px 30px rgb(232, 173, 56);
  border-radius: 15px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px rgb(232, 173, 56);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(18, 18, 18);
  text-align: center;
  display: inline-block;
}

h1 {
  background-color: rgba(184, 129, 129, 0.822);
  box-shadow: 5px 2px 30px rgb(255, 0, 0);
  border-radius: 15px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px rgb(232, 56, 56) ;
  font-family: Snell Roundhand,
  cursive;
  color: white;
  text-align: center;
  display: inline-block;
}

  a {
  text-decoration: none;
}

label {
  display: block;
}

.all-products-container {
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.each-product-box {
  border: 1px solid rgb(54, 53, 57);
  border-radius: 15px;
  text-align: center;
  padding: 0rem 0rem 1rem;
  background-image: linear-gradient(to right top, #efefef, #eeeeee, #ededed, #edebec, #eceaea);
  min-height: 97%;
  box-shadow: 5px 2px 30px;
}

.all-products-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.all-product-text {
  font-weight: bold;
}

.all-product-img {
  max-height: 250px;
  max-width: 280px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.singleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleProduct form label {
  display: inline-block;
}

.singleProduct img {
  max-height: 400px;
}

.quantityInput {
  width: 10px;
  margin: 5px;
}

nav {
  background-image: linear-gradient(
    to right top,
    #d47f08,
    #ac5326,
    #77332a,
    #3e1c1f,
    #000000
  );
  border: 3px solid #a39b9bb9;
  box-shadow: 5px 2px 30px;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: rgb(255, 247, 0);
  font-size: large;
  text-decoration: underline;
}

a:hover {
  color: white
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  border-radius: 15px;
  color: white;
  background-color: #ac5326;
}

button:hover{
  background-color: yellow;
  color: black;
}

a {
  color: rgb(255, 247, 0);
  text-decoration: underline;
}

form div {
  margin: 1em;
  display: inline-block;
}

#page-container {
  position: relative;
  min-height: 80vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  border-top-style: solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.container {
  border-style: solid;
  background-color: lightgrey;
  border-radius: 15px;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  box-shadow: 5px 2px 30px;
}
