body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}



.all-products-container {
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.each-product-box {
  border: 1px solid rgb(69, 12, 135);
  /* box-sizing: border-box */
  text-align: center;
  padding: 0rem 0rem 1rem;
  /* background-color: rgb(96, 7, 7); */
}

.all-products-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.all-product-text {
  font-weight: bold;
}

.all-product-img {
  max-height: 250px;
  max-width: 280px;
  background-color: rgb(96, 7, 7);
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.singleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleProduct form label {
  display: inline-block;
}

.singleProduct img {
  max-height: 400px;
}

.quantityInput {
  width: 10px;
  margin: 5px;
}

nav {
  background-image: linear-gradient(
    to right top,
    #d47f08,
    #ac5326,
    #77332a,
    #3e1c1f,
    #000000
  );
  border: 3px solid #a39b9bb9;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: rgb(255, 247, 0);
  font-size: large;
}

form div {
  margin: 1em;
  display: inline-block;
}

#page-container {
  position: relative;
  min-height: 80vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  border-top-style: solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.container {
  border-style: solid;
}
